# MongoDB
MONGO_URI=mongodb://localhost/toss

# Server Port
PORT=5000

# IBM Watson Assistant Credentials (optional - can be set via Admin UI)
WATSON_API_KEY=
WATSON_URL=https://gateway.watsonplatform.net/assistant/api
WATSON_VERSION=2019-02-21
WATSON_WORKSPACE_ID=
